{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Update leader</title>
    <link rel="stylesheet" href="{% static 'sign-form.css' %}" />
  </head>
  <body>
    <div class="signupForm">
      <form action="" method="POST" class="form">
        {% csrf_token %}
        <h1 class="title">Update leader</h1>

        <div class="errorMessage">
          {% for message in messages %} {{ message }} {% endfor %}
        </div>

        <div class="inputContainer">
          <label>
            <select name="team-select" id="team-select">
              <option value="Select a team" >Select a team</option>
              {% for value in team %}
              <option value={{value.0}} >{{value.0}}</option>
              {% endfor %}
            </select>
          </label>
        </div>

        <div class="inputContainer">
          <label>
            <select name="user-select" id="user-select">
              <option value="Select a leader" >Select a leader</option>
              {% for value in users %}
              <option value={{value.0}} >{{value.1}}</option>
              {% endfor %}
            </select>
          </label>
        </div>

        <input type="submit" class="submitBtn" value="Update leader" />
      </form>
    </div>
  </body>
</html>
