{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Assign a team</title>
    <link rel="stylesheet" href="{% static 'sign-form.css' %}" />
  </head>
  <body>
    <div class="signupForm">
      <form action="" method="POST" class="form">
        {% csrf_token %}
        <h1 class="title">Assign a team</h1>

        <div class="errorMessage">
          {% for message in messages %} {{ message }} {% endfor %}
        </div>

        <div class="inputContainer">
          <label>
            <select name="project-select" id="project-select">
              <option value="">Select a team</option>
              <option value="12">12</option>
              <option value="41">41</option>
              <option value="2">2</option>
            </select>
          </label>
        </div>

        <div class="inputContainer">
          <label>
            <select name="project-select" id="project-select">
              <option value="">Select a project</option>
              <option value="ProjectX">ProjectX</option>
              <option value="ProjectY">ProjectY</option>
              <option value="ProjectZ">ProjectZ</option>
            </select>
          </label>
        </div>

        <input type="submit" class="submitBtn" value="Assign team" />
      </form>
    </div>
  </body>
</html>
