{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create a team</title>
    <link rel="stylesheet" href="{% static 'sign-form.css' %}" />
  </head>
  <body>
    <div class="signupForm">
      <form action="" method="POST" class="form">
        {% csrf_token %}
        <h1 class="title">Create a team</h1>

        <div class="errorMessage">
          {% for message in messages %} {{ message }} {% endfor %}
        </div>

        <div class="inputContainer">
          <label>
            <select name="leader-select" id="leader-select">
              <option value="Select a leader">Select a leader</option>
              {% for collab_id in con %}
              <option value="{{collab_id.0}}">{{collab_id.1}}</option>
              {% endfor %}
            </select>
          </label>
        </div>

        <div class="inputContainer">
          <label>
            <select name="project-select" id="leader-select">
              <option value="Select a leader">Select a project</option>
              {% for project in projects %}
              <option value="{{project.0}}">{{project.1}}</option>
              {% endfor %}
            </select>
          </label>
        </div>

        <input type="submit" class="submitBtn" value="Create team" />
      </form>
    </div>
  </body>
</html>
