{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create project</title>
    <link rel="stylesheet" href="{% static 'sign-form.css' %}" />
  </head>
  <body>
    <div class="signupForm">
      <form action="" method="POST" class="form">
        {% csrf_token %}
        <h1 class="title">Create project</h1>

        <div class="errorMessage">
          {% for message in messages %} {{ message }} {% endfor %}
        </div>

        <div class="inputContainer">
          <label>
            <input
              name="title"
              type="text"
              class="input"
              placeholder="Project name"
            />
          </label>
        </div>

        <div class="inputContainerTextArea">
          <label>
            <textarea
              name = "description"
              class="textarea-input"
              rows="5"
              cols="100"
              placeholder="Project description"
            ></textarea>
          </label>
        </div>

        <input type="submit" class="submitBtn" value="Create project" />
      </form>
    </div>
  </body>
</html>
