{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create a feature</title>
    <link rel="stylesheet" href="{% static 'sign-form.css' %}" />
  </head>
  <body>
    <div class="signupForm">
      <form action="" method="POST" class="form">
        {% csrf_token %}
        <h1 class="title">Create feature</h1>

        <div class="errorMessage">
          {% for message in messages %} {{ message }} {% endfor %}
        </div>

        <div class="inputContainer">
          <label>
            <select name="project-select" id="project-select">
              <option value="">Select a project</option>
              <option value="ProjectX">ProjectX</option>
              <option value="ProjectY">ProjectY</option>
              <option value="ProjectZ">ProjectZ</option>
            </select>
          </label>
        </div>

        <div class="inputContainer">
          <label>
            <input
              name="title"
              type="text"
              class="input"
              placeholder="feature title"
            />
          </label>
        </div>

        <div class="inputContainerTextArea">
          <label>
            <textarea
              name = "description"
              class="textarea-input"
              rows="5"
              cols="100"
              placeholder="Feature Description"
            ></textarea>
          </label>
        </div>

        <input type="submit" class="submitBtn" value="Create feature" />
      </form>
    </div>
  </body>
</html>
