{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create report</title>
    <link rel="stylesheet" href="{% static 'sign-form.css' %}" />
  </head>
  <body>
    <div class="signupForm">
      <form action="" method="POST" class="form">
        {% csrf_token %}
        <h1 class="title">Create report</h1>

        <div class="errorMessage">
          {% for message in messages %} {{ message }} {% endfor %}
        </div>

        <div class="inputContainer">
          <label>
            <select name="ticket-select" id="ticket-select">
              <option value="">Select a ticket</option>
              <option value="12345678">12345678</option>
              <option value="12345679">12345679</option>
              <option value="12345638">12345638</option>
            </select>
          </label>
        </div>

        <div class="inputContainerTextArea">
          <label>
            <textarea
              class="textarea-input"
              rows="5"
              cols="100"
              placeholder="Report contents"
            ></textarea>
          </label>
        </div>

        <input type="submit" class="submitBtn" value="Create report" />
      </form>
    </div>
  </body>
</html>
