{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="{% static 'main-content.css' %}" />
    <script
      src="https://kit.fontawesome.com/c24fec9601.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <aside class="navbar">
        <div class="logo">
          <img
            src="{% static 'images/DefectTracker.png' %}"
            alt="DefectTracker"
          />
        </div>
        <nav class="menu">
          <div class="menu-items">
            <ul>
              <li>
                <a href="{% url 'reports' %}" class="menu-item">
                  <span class="icon"><i class="fa-solid fa-pen"></i></span>
                  <span class="item">Reports</span>
                </a>
              </li>
              <li>
                <a href="{% url 'bugs' %}" class="menu-item">
                  <span class="icon"><i class="fa-solid fa-bug"></i></span>
                  <span class="item">Bugs</span>
                </a>
              </li>
              <li>
                <a href="{% url 'features' %}" class="menu-item">
                  <span class="icon"
                    ><i class="fa-solid fa-file-circle-plus"></i
                  ></span>
                  <span class="item">Features</span>
                </a>
              </li>
              <li>
                <a href="{% url 'teams' %}" class="menu-item">
                  <span class="icon"
                    ><i class="fa-solid fa-people-group"></i
                  ></span>
                  <span class="item">Teams</span>
                </a>
              </li>
              <li>
                <a href="{% url 'projects' %}" class="menu-item">
                  <span class="icon"
                    ><i class="fa-solid fa-diagram-project"></i
                  ></span>
                  <span class="item">projects</span>
                </a>
              </li>
              <li>
                <a href="{% url 'tickets' %}" class="menu-item">
                  <span class="icon"><i class="fa-solid fa-ticket"></i></span>
                  <span class="item">Tickets</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="menu-lower">
          <ul>
            <li>
              <a href="{% url 'logout' %}" class="menu-item">
                <span class="icon"
                  ><i class="fa-solid fa-right-from-bracket"></i
                ></span>
                <span class="item">Sign out</span>
              </a>
            </li>
            {% if request.session.admin == "True" %}
            <li>
              <a href="{% url 'signup-admin' %}" class="menu-item">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <span class="item">Admin signup</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>

        <div class="user-info">
          <div class="user-logo">
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="username">
            <p>
              {{request.session.first_name }} {{ request.session.last_name }}
              <br />
              @{{request.session.username }}
            </p>
          </div>
        </div>
      </aside>
      <div class="contents">
        {% for message in messages %}
        <div class="errorMessage">{{ message }}</div>
        {% endfor %}
        <div class="header">
          <h1>Projects</h1>
          <div class="buttons">
            <form action="{% url 'assign-team' %}">
              <button>Assign a team</button>
            </form>
            <form action="{% url 'create-project' %}">
              <button>Create a project</button>
            </form>
            <button type="submit" form="table-form">Save</button>
          </div>
        </div>
        <form action="" method="POST" id="table-form">
          {% csrf_token %}
          <div class="table-wrapper">
            <table class="fl-table">
              <thead>
                <tr>
                  <th>Delete</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Start date</th>
                  <th>Status</th>
                  <th>Description</th>
                  <th>Supervisor</th>
                </tr>
              </thead>
              <tbody>
                {% for project in con %}
                <tr>
                  {% if request.session.admin == "True" %}
                  <td>
                    <label class="switch">
                      <input
                        name="delete-request-{{forloop.counter}}"
                        type="checkbox"
                        class="input"
                        placeholder="Username"
                      />
                    </label>
                  </td>
                  {% else %}
                  <td>
                    <label class="switch">
                      <input
                        name="delete-request-{{forloop.counter}}"
                        type="checkbox"
                        class="input"
                        placeholder="Username"
                        disabled
                      />
                    </label>
                  </td>
                  {% endif %}
                  <td>{{project.0}}</td>
                  {% if request.session.admin == "True" %}
                  <td>
                    <label>
                      <input
                        name="title-{{forloop.counter}}"
                        type="text"
                        class="input"
                        placeholder="{{project.1}}"
                      />
                    </label>
                  </td>
                  {% else %}
                  <td>
                    <label>
                      <input
                        name="title-{{forloop.counter}}"
                        type="text"
                        class="input"
                        placeholder="{{project.1}}"
                        disabled
                      />
                    </label>
                  </td>
                  {% endif %}
                  <td>{{project.2}}</td>
                  {% if request.session.admin == "True" %}
                  <td>
                    <label>
                      <input
                        name="status-{{forloop.counter}}"
                        type="text"
                        class="input"
                        placeholder="{{project.3}}"
                      />
                    </label>
                  </td>
                  <td>
                    <label>
                      <input
                        name="description-{{forloop.counter}}"
                        type="text"
                        class="input"
                        placeholder="{{project.4}}"
                      />
                    </label>
                  </td>
                  {% else %}
                  <td>
                    <label>
                      <input
                        name="status-{{forloop.counter}}"
                        type="text"
                        class="input"
                        placeholder="{{project.3}}"
                        disabled
                      />
                    </label>
                  </td>
                  <td>
                    <label>
                      <input
                        name="description-{{forloop.counter}}"
                        type="text"
                        class="input"
                        placeholder="{{project.4}}"
                        disabled
                      />
                    </label>
                  </td>
                  {% endif %}
                  <td>
                    <label>
                      <input
                        name="id-{{forloop.counter}}"
                        type="hidden"
                        class="input"
                        value="{{project.0}}"
                      />
                    </label>
                    {{project.5}}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
