{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reports</title>
    <link rel="stylesheet" href="{% static 'main-content.css' %}" />
    <script
      src="https://kit.fontawesome.com/c24fec9601.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <aside class="navbar">
        <div class="logo">
          <img
            src="{% static 'images/DefectTracker.png' %}"
            alt="DefectTracker"
          />
        </div>
        <nav class="menu">
          <div class="menu-items">
            <ul>
              <li>
                <a href="{% url 'reports' %}" class="menu-item">
                  <span class="icon"><i class="fa-solid fa-pen"></i></span>
                  <span class="item">Reports</span>
                </a>
              </li>
              <li>
                <a href="{% url 'bugs' %}" class="menu-item">
                  <span class="icon"><i class="fa-solid fa-bug"></i></span>
                  <span class="item">Bugs</span>
                </a>
              </li>
              <li>
                <a href="{% url 'features' %}" class="menu-item">
                  <span class="icon"
                    ><i class="fa-solid fa-file-circle-plus"></i
                  ></span>
                  <span class="item">Features</span>
                </a>
              </li>
              <li>
                <a href="{% url 'teams' %}" class="menu-item">
                  <span class="icon"
                    ><i class="fa-solid fa-people-group"></i
                  ></span>
                  <span class="item">Teams</span>
                </a>
              </li>
              <li>
                <a href="{% url 'projects' %}" class="menu-item">
                  <span class="icon"
                    ><i class="fa-solid fa-diagram-project"></i
                  ></span>
                  <span class="item">projects</span>
                </a>
              </li>
              <li>
                <a href="{% url 'tickets' %}" class="menu-item">
                  <span class="icon"><i class="fa-solid fa-ticket"></i></span>
                  <span class="item">Tickets</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="menu-lower">
          <ul>
            <li>
              <a href="{% url 'logout' %}" class="menu-item">
                <span class="icon"
                  ><i class="fa-solid fa-right-from-bracket"></i
                ></span>
                <span class="item">Sign out</span>
              </a>
            </li>
            {% if request.session.admin == "True" %}
            <li>
              <a href="{% url 'signup-admin' %}" class="menu-item">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <span class="item">Admin signup</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>

        <div class="user-info">
          <div class="user-logo">
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="username">
            <p>
              {{request.session.first_name }} {{ request.session.last_name }}
              <br />
              @{{request.session.username }}
            </p>
          </div>
        </div>
      </aside>
      <div class="contents">
        {% for message in messages %}
        <div class="errorMessage">{{ message }}</div>
        {% endfor %}
        <div class="header">
          <h1>Reports</h1>
          <div class="buttons">
            <form action="{% url 'create-report' %}">
              <button>Write a report</button>
            </form>
            <button>Save</button>
          </div>
        </div>
        <div class="table-wrapper">
          <table class="fl-table">
            {% for ticket in con %}
            <thead>
              <h3>Ticket: {{ticket.0}}</h3>
              <tr>
                <th>Delete</th>
                <th>Date</th>
                <th style="width: 70vw">Contents</th>
              </tr>
            </thead>
            <tbody>
              {% for report in ticket.1 %}
              <tr>
                <td>
                  <label class="switch">
                    <input type="checkbox" />
                  </label>
                </td>
                <td>{{report.0}}</td>
                <td contenteditable="true">
                  {{report.1}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
